@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 0 10px;
}
    
.title {
    margin-top: 30px;
    color: white;
    font-size: 50px;
}

.game-board {
    background-color: white;
    display: flex;
    padding: 60px 40px;
    border-radius: 12px;
    align-items: flex-end;
    gap: 75px;
    margin: 30px 75px;
    max-width: 800px;
}

.spaceman-image img {
    width: 189.5px;
    height: 410px;
}

.rest-of-game {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 1.5rem;
    align-items: center;
}

.word-hint {
    text-align: center;
}

.target-word {
    display: flex;
    gap: 12px;
    list-style-type: none;
    text-transform: capitalize;
}

.letter {
    width: 25px;
    border-bottom: 4px solid black;
}

.incorrect-guesses b {
    color: red;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.keyboard button {
    width: 36px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    background-color: gray;
    padding: 7px;
    text-transform: capitalize;
}

.keyboard button:hover {
    background-color: lightgray;
}

.keyboard button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.game-result {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-result.show {
    opacity: 1;
    pointer-events: auto;
}

.game-result-display {
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.25rem;
    width: 760px;
    margin-left: 50px;
    margin-right: 50px;
}

.game-result-display img {
    width: 200px;
    height: 390px;
    margin-bottom: 20px;
}

.game-result-display .button {
    padding: 15px;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: gray;
}

.game-result-display .button:hover {
    background-color: lightgray;
}
@media (max-width: 785px) {
    .game-board {
        flex-direction: column;
        padding: 40px 20px;
        align-items: center;
    }
    .spaceman-image {
        max-width: 200px;
    }
    .title {
        font-size: 1.5rem;
    }
}